html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    div(class="main")
      section(class='login' id='login')
        div(class='head')
          img(src="/images/logo.png" width="70px")
          h1(class='company') We Hire For You
        p(class='msg') Login As Manager 
        div(class='form')
          form(name="manager" action="/manager/dashboard" method="post")
            input(type="text" name="email" placeholder='Email' class='text' required)
            br
            input(type="password" name="password" placeholder='••••••••••••••' class='password')
            button(class='btn-login') Login
            a(href="#" class='forgot') Forgot?
      section(class='login' id='login')
        div(class='head')
          img(src="/images/logo.png" width="70px")
          h1(class='company') We Hire For You
        p(class='msg') Login AS Recuriters 
        div(class='form')
          form(name="recuriters" action="/recuriters/dashboard" method="post")
            input(type="text" name="email" placeholder='Email' class='text' required)
            br
            input(type="password" name="password" placeholder='••••••••••••••' class='password')
            button(class='btn-login') Login
            a(href="#" class='forgot') Forgot?
